<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <h1>Nikola Tesla</h1>
    <img src="images/nikola-tesla.jpeg" alt="nikola-tesla-img">
    <p><strong>"La ciencia no es más que perversión en sí misma a menos que tenga como objetivo último mejorar la
            humanidad"</strong></p>
    <p>Estas palabras resumen la visión de Nikola Tesla, un hombre de figura enigmática, y un controvertido y
        comprometido visionario e inventor que se adelantó a su tiempo.</p>
    <nav>
        <a href="about">Acerca de</a>
        <a href="works">Trabajos</a>
    </nav>

</body>

</html>