<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="styles/works.css">
</head>

<body>
    <h1>Trabajos acreditados</h1>
    <ol>
        <li>Bobina Tesla</li>
        <li>Iluminación inalámbrica</li>
        <li>Generador oscilador a vapor</li>
        <li>Radiocontrol remoto</li>
        <li>Turbina sin álabes</li>
    </ol>
</body>

</html>